{{- define "top" -}}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    
    <link rel="stylesheet" href="/static/bootstrap.css">

    <script src="/static/bootstrap.bundle.min.js"></script>

    <title>iTools</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <div class="container-sm">
            <a class="navbar-brand" href="http://192.168.0.205">iTools</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link{{ if eq .active `/url` }} active{{ end }}" href="/url">網址</a>
                    </li>
                {{ if or (eq mode `pi`) (eq mode `debug`) }}
                    <li class="nav-item">
                        <a class="nav-link{{ if eq .active `/share` }} active{{ end }}" href="/share">分享</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{{ if eq .active `/rem` }} active{{ end }}" href="/rem">記憶</a>
                    </li>
                {{- end -}}
                    <li class="nav-item dropdown">
                        <a class="nav-link {{ if or (eq .active `/time`) (eq .active `/location`) (eq .active `/carry`) }}active{{ end }} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            轉換
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/time">時間</a></li>
                            <li><a class="dropdown-item" href="/location">位置</a></li>
                            <li><a class="dropdown-item" href="/carry">進位</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link {{ if or (eq .active `/indent`) (eq .active `/passwd`) }}active{{ end }} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            文字
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/indent">縮排</a></li>
                            <li><a class="dropdown-item" href="/passwd">密碼</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link {{ if or (eq .active `/base64`) (eq .active `/urlCode`) }}active{{ end }} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            編碼
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/base64">base64</a></li>
                            <li><a class="dropdown-item" href="/urlCode">urlCode</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-sm">
        <div class="form-group row">
            <div class="col-xl-2"></div>
            <div class="col col-xl-8">
                {{- if .msg }}
                    <div id="flashMessage"></div>
                {{- end }}
                <br>
{{- end -}}


{{- define "bottom" -}}
            </div>
            <div class="col-xl-2"></div>
        </div>

<style>
.row {
    margin: 0 !important;
}

.text-center {
    text-align: center;
}

.textarea {
    width: 100%; 
    height: 100%;
    max-width: 100%; 
    min-height: 100px;
}

</style>

{{- template "alert" . }}
</html>

{{- end -}}



{{- define "alert" -}}
<style>
#flashMessage {
    position: fixed; 
    top: 58px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: {{.bgColor}};
    color: #ffffff;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    width: 300px;
}
</style>
<script>
var flashMessage = "{{- .msg -}}";

if (flashMessage) {
    var flashMessageElement = document.getElementById("flashMessage");
    flashMessageElement.innerText = flashMessage;

    setTimeout(function() {
        flashMessageElement.style.display = "none";
    }, 1500);
}
</script>
{{- end -}}


{{- define "scriptCopyText" -}}
<script>
function copyText() {
    var textarea = document.getElementById("copyText");
    textarea.select();
    textarea.setSelectionRange(0, 99999); /*  mobile devices */
    document.execCommand("copy");
}
</script>
{{- end -}}


{{- define "page" }}
    {{- if gt .fileCount 0 }}
            <br>
            <center>{{- $currentPage := .currentPage }}
            <div id="tabl2">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                    {{- if eq .peviousPage -1 -}}
                        <li class="page-item disabled">
                            <a class="page-link" href="#"><<</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#"><</a>
                        </li>
                    {{- else -}}
                        <li class="page-item">
                            <a class="page-link" href="/share?page=1"><<</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/share?page={{- .peviousPage -}}"><</a>
                        </li>
                    {{- end -}}
                    {{- range .currentTables -}}
                        {{- if eq . $currentPage -}}
                        <li class="page-item active"><a class="page-link" href="#">{{- . -}}</a></li>
                        {{- else -}}
                        <li class="page-item"><a class="page-link" href="/share?page={{- . -}}">{{- . -}}</a></li>
                        {{- end -}}
                    {{- end -}}
                    {{- if eq .nextPage -1 -}}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">></a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">>></a>
                        </li>
                    {{- else -}}
                        <li class="page-item">
                            <a class="page-link" href="/share?page={{- .nextPage -}}">></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/share?page={{- .lastPage -}}">>></a>
                        </li>
                    {{- end -}}
                    </ul>
                </nav>
            </div>
            </center>
    {{- end }}
{{- end }}



{{- define "pasteAndSend" }}
<script>
// 複製並傳送
document.getElementById('send').addEventListener('submit', function(event) {
    event.preventDefault(); // 防止表單默認提交行為
    
  // 從剪貼簿讀取內容
    if (navigator.clipboard) {
        navigator.clipboard.readText().then(function(clipboardText) {
            
            // 如果剪貼簿有內容，則將其附加到 url 中的內容後面
            if (clipboardText) {
                document.getElementById('url').value = clipboardText;
            }
            document.getElementById('send').submit();
        }).catch(function(err) {
            console.error('無法讀取剪貼簿內容：', err);
            document.getElementById('send').submit(); // 在出錯時也提交表單
        });
    } else {
        // 如果 navigator.clipboard 是空值，直接提交表單
        document.getElementById('send').submit();
    }
});

// 清空
function clearInput() {
    var inputElement = document.getElementById("url");
    if (inputElement) {
        inputElement.value = "";
    } else {
        console.error("找不到指定的 input 元素");
    }
}
</script>
{{- end -}}