{{- template "top" . }}
            <h3>cookie</h3>

            <form id="send" action="/cookie" method="post" enctype="multipart/form-data">
                <textarea id="textarea" name="text" rows="3" class="form-control"></textarea>
                <div style="text-align: right;">
                    <input onclick="readFromClipboard()" type="submit" value="貼上並傳送" class="form-control mb-3">
                </div>
            </form>
            
        {{- if .cookie -}}
            <textarea id="copyText" name="text" rows="5" class="form-control">{{ .cookie }}</textarea>
            <div style="text-align: right;">
                <button onclick="copyText()" class="form-control">複製</button>
            </div>
        {{- end -}}

<script>
function readFromClipboard() {
    event.preventDefault(); // 防止表單默認提交行為

    navigator.clipboard.readText()
        .then(text => {
            document.getElementById("textarea").value = text;

            document.getElementById('send').submit()
        })
        .catch(err => {
            console.error('Failed to read clipboard contents: ', err);
        });
}
</script>

{{- template "bottom" . }}

{{- template "scriptCopyText" . }}


