{{- template "top" . }}
            <h3>縮排</h3>
            <textarea id="textarea" name="indent" rows="3" class="form-control"></textarea>
            <button onclick="readFromClipboard()" class="form-control mb-3">從剪貼板讀取</button>

            <center>
                <textarea id="copyText" rows="3" class="form-control">
                </textarea>
            </center>
            <div style="text-align: right;">
                <button onclick="copyText()" class="form-control">複製</button>
            </div>

<script>
function readFromClipboard() {
    navigator.clipboard.readText()
        .then(text => {
            var strippedValue = text.replace(/\r\n/g, ""); // 刪除換行符號
            document.getElementById("textarea").value = text;
            document.getElementById("copyText").value = strippedValue;


        })
        .catch(err => {
            console.error('Failed to read clipboard contents: ', err);
        });
}
</script>

{{- template "scriptCopyText" . }}

{{- template "bottom" . }}